{{ define "main" }}
<div className="article">
  <div class="article_description">
    {{ .Content }}
  </div>
</div>

{{ if not .IsHome }}


<ul>
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
      <div class="article">
        <h2 class="article_title"><a class="article_title-link" href="{{.Permalink}}">{{.Title}}</a></h2>
        <div class="article_meta">{{.Date.Format "2006-01-02"}}</div>
        <div>
          <p class="article_description">{{.Summary}}</p><a
            class="article_readmore" href="{{.Permalink}}">Read...</a>
        </div>
      </div>
      {{ end }}
    </ul>
{{ end }}


{{ end }}